/**
 * Reset & Box Model
 *
 * אתחול בסיסי של דפדפן - איפוס margins/padding והגדרת box-sizing
 *
 * @package PDFEditor
 * @since Phase 3 Refactoring
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}
